* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 60px;
    color: #010606;
    text-align: center;
    padding: 20px;
    margin-left: 200px;
}
@keyframes ButtonAnimation {
    from {
        background-color: green;
        padding: 20px;
    }
    to {
        background-color: aqua;
        padding: 35px;
    }
    
}

.button {
    padding: 20px;
    font-size: 25px;
    background-color: black;
    color: #ffffff;
    border-radius: 8px;
    margin: 50px;
    animation-name: ButtonAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    
}
.button:hover {
    font-size: 35px;
    color: green;
    font-weight: bold;
}
